In [1]:
import matplotlib.cm as cm
import math
import netCDF4 as nc
import numpy as np
import scipy as spw
from netCDF4 import Dataset
import pandas as pd
import matplotlib as plt
from sklearn.metrics import r2_score
from scipy.stats import variation
#from mpl_toolkits.basemap import Basemap

In [2]:
file='C:/Users/htc/Desktop/DATA/AROME DATA/Tmin_masked.nc'
ds=nc.Dataset(file)

In [3]:
print(ds.variables)

{'time': <class 'netCDF4._netCDF4.Variable'>
float64 time(time)
    standard_name: time
    long_name: time
    units: days since 2020-06-01 00:00
    calendar: standard
    axis: T
unlimited dimensions: time
current shape = (214,)
filling on, default _FillValue of 9.969209968386869e+36 used, 'longitude': <class 'netCDF4._netCDF4.Variable'>
float32 longitude(longitude)
    standard_name: longitude
    long_name: longitude
    units: degrees_east
    axis: X
unlimited dimensions:
current shape = (352,)
filling on, default _FillValue of 9.969209968386869e+36 used, 'latitude': <class 'netCDF4._netCDF4.Variable'>
float32 latitude(latitude)
    standard_name: latitude
    long_name: latitude
    units: degrees_north
    axis: Y
unlimited dimensions:
current shape = (687,)
filling on, default _FillValue of 9.969209968386869e+36 used, 'mn2t6': <class 'netCDF4._netCDF4.Variable'>
float32 mn2t6(time, latitude, longitude)
    long_name: Minimum temperature at 2 metres in the last 6 hours
    units: K
    _FillValue: 9.96921e+36
    missing_value: 9.96921e+36
unlimited dimensions: time
current shape = (214, 687, 352)
filling on}

<ipython-input-3-13468bfccfa6>:1: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  print(ds.variables)

In [4]:
lats=ds.variables['latitude'][:]
lons=ds.variables['longitude'][:]
T=ds.variables['time']

In [5]:
lati_ = 37.25
longi_ = 9.8

In [6]:
sq_diff_lat = (lats - lati_)**2
sq_diff_lon = (lons - longi_)**2

In [7]:
min_index_lat = sq_diff_lat.argmin()
min_index_lon = sq_diff_lon.argmin()

In [8]:
print(min_index_lat)
print(min_index_lon)

62
197

In [9]:
m=ds.variables['mn2t6'][:,:]

In [10]:
starting_dat=ds.variables['time']
print(starting_dat)

<class 'netCDF4._netCDF4.Variable'>
float64 time(time)
    standard_name: time
    long_name: time
    units: days since 2020-06-01 00:00
    calendar: standard
    axis: T
unlimited dimensions: time
current shape = (214,)
filling on, default _FillValue of 9.969209968386869e+36 used

<ipython-input-10-6bf206acb459>:2: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  print(starting_dat)

In [11]:
starting_date='2020-06-01'
ending_date='2020-12-31'

In [12]:
date_range=pd.date_range(start=starting_date,end=ending_date, freq="D" )

In [13]:
print(date_range)

DatetimeIndex(['2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04',
               '2020-06-05', '2020-06-06', '2020-06-07', '2020-06-08',
               '2020-06-09', '2020-06-10',
               ...
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-25',
               '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', length=214, freq='D')

In [14]:
df=pd.DataFrame(0, columns=['Tmin'], index=date_range)

In [15]:
print(df)

            Tmin
2020-06-01     0
2020-06-02     0
2020-06-03     0
2020-06-04     0
2020-06-05     0
...          ...
2020-12-27     0
2020-12-28     0
2020-12-29     0
2020-12-30     0
2020-12-31     0

[214 rows x 1 columns]

In [16]:
dt= np.arange(0, ds.variables['time'].size)

In [17]:
print(dt)

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213]

In [18]:
for time_index in (dt):
    df.iloc[time_index]= m[time_index, min_index_lat, min_index_lon]

In [19]:
print(df)

                  Tmin
2020-06-01  290.802948
2020-06-02  291.192688
2020-06-03  291.827881
2020-06-04  294.929535
2020-06-05  293.307770
...                ...
2020-12-27  281.722015
2020-12-28  277.570404
2020-12-29  279.470490
2020-12-30  280.345123
2020-12-31  279.879852

[214 rows x 1 columns]

In [20]:
df.to_csv('Tmin_BIZERTE.csv')

######